
.wait-state {
	position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
    margin: 0 auto;
    z-index: 1000;
}

.wait-state.default {
    background-color: rgba(255,255,255,0.5);
    background-image: url(images/wait.gif);
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: center center;
}

.wait-state.rotate-scale > .inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    width: 50px;
    height: 50px;
    border: 15px solid transparent;

    border-radius: 50%;
    border-left-color: #2c2c2c;
    opacity: 0;
    z-index: 1002;
}

.wait-state.rotate-scale      > .static,
.wait-state.rotate-scale-css3 > .static {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    width: 50px;
    height:50px;
    border: 15px solid #ddd;

    border-radius: 50%;
    z-index: 1001;
}

.wait-state.rotate-scale > .outer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    width: 70px;
    height: 70px;
    border: 20px solid;

    border-radius: 50%;
    border-top-color: #333;
    border-left-color: transparent;
    border-bottom-color: #333;
    border-right-color: transparent;

    opacity: 0;

    -webkit-transform: scale(3, 3);
        -ms-transform: scale(3, 3);
            transform: scale(3, 3);
}

.wait-state.rotate-scale > .outer.another {
    opacity: 0;

    -webkit-transform: rotate(90deg) scale(3);
        -ms-transform: rotate(90deg) scale(3);
            transform: rotate(90deg) scale(3);
}


.wait-state.rotate-scale-css3 > .inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    width: 50px;
    height: 50px;
    border: 15px solid transparent;
    border-radius: 50%;
    z-index: 1002;

    -webkit-animation: loadEr 3s infinite;
    animation: loadEr 3s infinite;
}

@-webkit-keyframes loadEr {
  0% {
    border-color: rgba(44, 44, 44, 0);
  }
  10.4% {
    border-top-color: rgba(44, 44, 44, 0.5);
  }
  20.8% {
    border-color: rgba(44, 44, 44, 0);
  }
    31.2% {
        border-right-color: rgba(44, 44, 44, 0.5);
    }
    41.6% {
        border-color: rgba(44, 44, 44, 0);
        -webkit-transform: rotate(40deg);
        transform: rotate(40deg);
    }
    52% {
        border-bottom-color: rgba(44, 44, 44, 0.5);
    }
    62.4% {
        border-color: rgba(44, 44, 44, 0);
    }
    72.8% {
    border-left-color: rgba(44, 44, 44, 0.5);
    }
}

@keyframes loadEr {
  0% {
    border-color: rgba(44, 44, 44, 0);
  }
  10.4% {
    border-top-color: rgba(44, 44, 44, 0.5);
  }
  20.8% {
    border-color: rgba(44, 44, 44, 0);
  }
    31.2% {
        border-right-color: rgba(44, 44, 44, 0.5);
    }
    41.6% {
        border-color: rgba(44, 44, 44, 0);
        -webkit-transform: rotate(40deg);
        transform: rotate(40deg);
    }
    52% {
        border-bottom-color: rgba(44, 44, 44, 0.5);
    }
    62.4% {
        border-color: rgba(44, 44, 44, 0);
    }
    72.8% {
    border-left-color: rgba(44, 44, 44, 0.5);
    }
}

.wait-state.rotate-scale-css3 > .outer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    width: 70px;
    height: 70px;
    border: 20px solid;

    border-radius: 50%;
    border-top-color: #333;
    border-left-color: transparent;
    border-bottom-color: #333;
    border-right-color: transparent;

    opacity: 0;
    -webkit-transform: scale(3) rotate(0deg);
            transform: scale(3) rotate(0deg);

    -webkit-animation: poof 4s infinite;
    animation: poof 4s infinite;
}

.wait-state.rotate-scale-css3 > .outer.another {
    -webkit-transform: scale(3);
            transform: scale(3);

    opacity: 0;

    -webkit-animation: poofity 4s infinite;
    animation: poofity 4s infinite;

    -webkit-animation-delay: .8s;
    animation-delay: .8s;
}

@-webkit-keyframes poof {
  0% {
    -webkit-transform: scale(3) rotate(0deg); 
    transform: scale(3) rotate(0deg); 
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1) rotate(-360deg); 
    transform: scale(1) rotate(-360deg); 
    opacity: 0.2;
  }
}
@keyframes poof {
  0% {
    -webkit-transform: scale(3) rotate(0deg); 
    transform: scale(3) rotate(0deg); 
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1) rotate(-360deg); 
    transform: scale(1) rotate(-360deg); 
    opacity: 0.2;
  }
}

@-webkit-keyframes poofity {
  0%   {
    -webkit-transform: scale(3) rotate(0deg); 
            transform: scale(3) rotate(0deg); 
    opacity: 0;
  }
  50%  {
    -webkit-transform: scale(1) rotate(90deg); 
            transform: scale(1) rotate(90deg); 
    opacity: 0.1;
  }
  100% {
    -webkit-transform: scale(3) rotate(-360deg); 
            transform: scale(3) rotate(-360deg); 
    opacity: 0;
  }
}

@keyframes poofity {
  0%   {
    -webkit-transform: scale(3) rotate(0deg); 
            transform: scale(3) rotate(0deg); 
    opacity: 0;
  }
  50%  {
    -webkit-transform: scale(1) rotate(90deg); 
            transform: scale(1) rotate(90deg); 
    opacity: 0.1;
  }
  100% {
    -webkit-transform: scale(3) rotate(-360deg); 
            transform: scale(3) rotate(-360deg); 
    opacity: 0;
  }
}


.wait-state.rotate-scale.blue > .inner {
    border-left-color: #2c2c2c;
}
.wait-state.rotate-scale-css3.blue > .inner {
    -webkit-animation: loadErBlue 3s infinite;
    animation: loadErBlue 3s infinite;
}

.wait-state.rotate-scale.blue      > .static,
.wait-state.rotate-scale-css3.blue > .static {
    border-color: #ddd;
}
.wait-state.rotate-scale.blue      > .outer,
.wait-state.rotate-scale-css3.blue > .outer {
    border-top-color:    #333;
    border-bottom-color: #333;
}

@-webkit-keyframes loadErBlue {
  0% {
    border-color: rgba(44, 44, 44, 0);
  }
  10.4% {
    border-top-color: rgba(44, 44, 44, 0.5);
  }
  20.8% {
    border-color: rgba(44, 44, 44, 0);
  }
    31.2% {
        border-right-color: rgba(44, 44, 44, 0.5);
    }
    41.6% {
        border-color: rgba(44, 44, 44, 0);
        -webkit-transform: rotate(40deg);
        transform: rotate(40deg);
    }
    52% {
        border-bottom-color: rgba(44, 44, 44, 0.5);
    }
    62.4% {
        border-color: rgba(44, 44, 44, 0);
    }
    72.8% {
    border-left-color: rgba(44, 44, 44, 0.5);
    }
}

@keyframes loadErBlue {
  0% {
    border-color: rgba(44, 44, 44, 0);
  }
  10.4% {
    border-top-color: rgba(44, 44, 44, 0.5);
  }
  20.8% {
    border-color: rgba(44, 44, 44, 0);
  }
    31.2% {
        border-right-color: rgba(44, 44, 44, 0.5);
    }
    41.6% {
        border-color: rgba(44, 44, 44, 0);
        -webkit-transform: rotate(40deg);
        transform: rotate(40deg);
    }
    52% {
        border-bottom-color: rgba(44, 44, 44, 0.5);
    }
    62.4% {
        border-color: rgba(44, 44, 44, 0);
    }
    72.8% {
    border-left-color: rgba(44, 44, 44, 0.5);
    }
}

